/bin
/build
/build/
/build/*

/Stronghold2016/build/
/Stronghold2016/build
/Stronghold2016/build/*

#needed? Uncomment if causing conflicts
/dist
/dist/*
*.jar
*.class

dist/FRCUserProgram.jar
sysProps.xml

